<template>
<div>
    <main-page v-if="user.auth"></main-page>
    <auth-page v-else></auth-page>
</div>
</template>

<script>
import AuthPage from "./_Landing/Auth.vue";
import MainPage from "./_Landing/Main.vue";

export default {
    components: {
        "auth-page": AuthPage,
        "main-page": MainPage,
    },
    computed: {
        user: function() {
            return this.$store.state.user;
        }
    }
}
</script>
