<template>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link to="/" class="navbar-brand">Trabibi</router-link>
        <button class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link to="/" class="nav-link">Home</router-link>
                </li>
                <li v-if="user.auth" class="nav-item dropdown pointer">
                    <a class="nav-link pointer dropdown-toggle" data-toggle="dropdown">Trackings</a>
                    <div class="dropdown-menu">
                        <router-link
                            v-for="object in trackingObjects"
                            :to="'/tracking-objects/' + object.id"
                            class="dropdown-item">
                            {{ object.name }}
                        </router-link>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown pointer">
                    <a class="nav-link pointer dropdown-toggle" data-toggle="dropdown">Developers</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" target="_blank" href="https://gitlab.com/rolafium/trabibi">Source Code</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" target="_blank" href="/public/docs/python/index.html">Python Docs</a>
                        <a class="dropdown-item" target="_blank" href="/public/docs/javascript/index.html">JavaScript Docs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" target="_blank" href="/public/coverage/python/index.html">Python Coverage</a>
                        <a class="dropdown-item" target="_blank" href="/public/coverage/javascript/index.html">JavaScript Coverage</a>
                    </div>
                </li>
                <li v-if="user.auth" class="nav-item">
                    <a class="nav-link pointer" @click="logout">Logout</a>
                </li>
                <li v-else>
                    <router-link to="/" class="nav-link pointer">Login/Register</router-link>
                </li>
            </ul>
        </div>
    </nav>
    <main class="mt-5">
        <div class="container">
            <div class="card">
                <div class="card-header">{{ page.h1 }}</div>
                <div class="card-body">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </main>
</div>
</template>

<script>
export default {
    mounted: function() {
        this._loadData();
    },
    methods: {
        /** Loads the initial data from the server */
        _loadData: function() {
            if(!this.user.auth) {
                return;
            }
            return new Promise((resolve, reject) => {
                this.$ajax.request({
                    url: window.ENDPOINTS.trackingObjects,
                    method: "GET"
                })
                .then((xhr) => {
                    this.$store.commit("setTracking", {
                        name: "objects",
                        object: xhr.json,
                    });
                    resolve(xhr);
                })
                .catch((error) => {
                    console.error(error);
                    reject(error);
                });
            });
        },
        logout: function() {
            this.$ajax.request({ url: window.ENDPOINTS.users.logout })
            .then((xhr) => {
                if(xhr.json.logout) {
                    this.$store.commit("updateUser", null);
                    this.$store.commit("auth", false);
                }
            });
        },
    },
    computed: {
        /**
         * Page data
         * @returns {object}
         */
        page: function() {
            return this.$store.state.page;
        },
        /**
         * Tracking Objects
         * @returns {array}
         */
        trackingObjects: function() {
            return this.$store.state.tracking.objects;
        },
        user: function() {
            return this.$store.state.user;
        },
    }
}
</script>
