<template>
<div>
    <button class="btn btn-sm btn-dark" @click="openForm('Create')">New Entry</button>
    <button class="btn btn-sm btn-dark" @click="createGraph">New Graph</button>
    <div v-if="trackingObject">
        <div class="mt-5">
            <ul class="list-group">
                <li v-for="graph in trackingObject.graphs" class="list-group-item" @click="openGraph(graph)">{{ graph.name }}</li>
            </ul>
        </div>
        <table v-if="trackingUpdates.length" class="table mt-5">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Value</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="trackingUpdate in trackingUpdates">
                    <td>{{ trackingUpdate.id }}</td>
                    <td>{{ (new Date(trackingUpdate.relative_time)).toLocaleDateString() }}</td>
                    <td>{{ trackingUpdate.value }}</td>
                    <td>{{ trackingUpdate.notes }}</td>
                    <td>
                        <button class="btn btn-sm btn-danger" @click="deleteTracking(trackingUpdate)">Delete</button>
                        <button class="btn btn-sm btn-primary" @click="openTracking(trackingUpdate)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <modal :show.sync="show.objectForm" :title="edit.title">
        <div slot="modal-body" class="modal-body">
            <div class="form-group">
                <label>Value</label>
                <input type="number" v-model="edit.value" class="form-control form-control-sm" />
            </div>
            <div class="form-group">
                <label>Notes</label>
                <textarea v-model="edit.notes" class="form-control form-control-sm"></textarea>
            </div>
        </div>
        <div slot="modal-footer">
            <button class="btn btn-sm btn-danger" @click="closeAndResetForm">Cancel</button>
            <button class="btn btn-sm btn-primary" @click="saveTracking">Create</button>
        </div>
    </modal>
    <modal :show.sync="show.graphForm" title="Create Graph">
        <div slot="modal-body" class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input type="text" v-model="edit.graph.name" class="form-control form-control-sm" />
            </div>
            <div class="form-group">
                <label>Tracked</label>
                <select multiple v-model="edit.graph.tracked" class="form-control form-control-sm">
                    <option v-for="obj in trackedOptions" :value="obj.id">{{ obj.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Operation</label>
                <select v-model="edit.graph.operation" class="form-control form-control-sm">
                    <option value="SUM">Sum</option>
                </select>
            </div>
        </div>
        <div slot="modal-footer">
            <button class="btn btn-sm btn-danger" @click="closeAndResetGraphForm">Cancel</button>
            <button class="btn btn-sm btn-primary" @click="saveGraph">Create</button>
        </div>
    </modal>
    <modal :show.sync="show.graph" title="Graph">
        <div slot="modal-body" class="modal-body">
            <pre v-if="this.graph" style="max-height: 70vh; overflow: auto">{{ this.graph.tracks }}</pre>
        </div>
    </modal>
</div>
</template>

<script>
import TrackingGraph from "../data/TrackingGraph.js";
import modal from "./bootstrap/modal.vue";

/**
 * TrackingObject
 */
export default {
    components: { modal },
    data: function() {
        return {
            show: {
                graph: false,
                graphForm: false,
                objectForm: false,
            },
            trackingObject: null,
            trackingUpdates: [],
            graph: null,
            edit: {
                graph: {
                    name: "",
                    tracked: [],
                    operation: "SUM",
                },
                title: "Create",
                id: 0,
                value: "",
                notes: "",
            },
        }
    },
    mounted: function() {
        this._getData();
    },
    methods: {
        _getData: function() {
            var id = parseInt(this.$route.params.id);
            this.$ajax.request({
                url: window.ENDPOINTS.trackingObjects + id + "/?details",
                method: "GET",
            })
            .then((xhr) => {
                this.trackingObject = xhr.json;
                this.$store.commit("updateH1", this.trackingObject.name);

                this._getTrackingUpdates([ this.trackingObject.id ])
                .then((data) => this.trackingUpdates = data);
            });
        },
        _loadGraphs: function() {

        },
        openGraph: function(graph) {
            this._getTrackingUpdates(graph.tracked)
            .then((data) => {
                this.graph = new TrackingGraph(graph, data);
                this.show.graph = true;
            });
        },
        /** Resets the edit/create form */
        resetForm: function() {
            this.edit.id = 0;
            this.edit.value = "";
            this.edit.notes = "";
        },
        /** Closes and resets the form */
        closeAndResetForm: function() {
            this.show.objectForm = false;
            this.resetForm();
        },
        /**
         * Opens the form in the specified mode
         * @param mode {string}
         */
        openForm: function(mode) {
            this.edit.title = mode;
            this.show.objectForm = true;
        },
        /**
         * Opens a Tracking Update for edit
         * @param trackingUpdate {object}
         */
        openTracking: function(trackingUpdate) {
            this.edit.id = trackingUpdate.id;
            this.edit.value = trackingUpdate.value;
            this.edit.notes = trackingUpdate.notes;
            this.openForm("Edit")
        },
        /**
         * Creates a Tracking Update
         * @param data {object}
         */
        createTracking: function(data) {
            this.context.db.tracking_updates.add(data)
            .then((res) => {
                data.id = res;
                this.trackingUpdates.push(data);
            });            
        },
        /**
         * Updates a Tracking Update
         * @param data {object}
         */
        updateTracking: function(data) {
            this.context.db.tracking_updates.update(data.id, data)
            .then((res) => {
                var index = this.trackingUpdates.map((o) => o.id).indexOf(data.id);
                data.relative_time = this.trackingUpdates[index].relative_time;
                this.$set(this.trackingUpdates, index, data);
            });
        },
        /**
         * Deletes a Tracking Update
         * @param trackingUpdate {object}
         */
        deleteTracking: function(trackingUpdate) {
            this.context.db.tracking_updates.delete(trackingUpdate.id);
            var index = this.trackingUpdates.map((o) => o.id).indexOf(trackingUpdate.id);
            this.trackingUpdates.splice(index, 1);
        },
        /** Saves the current edits to either create or update a Tracking Udpate */
        saveTracking: function() {
            var tupdate = {
                obj: this.trackingObject.id,
                value: parseFloat(this.edit.value),
                notes: this.edit.notes,
            }

            if(this.edit.id) {
                tupdate.id = this.edit.id;
                this.updateTracking(tupdate);
            } else {
                tupdate.relative_time = Date.now();
                this.createTracking(tupdate);
            }

            this.closeAndResetForm();

        },
        createGraph: function() {
            this.show.graphForm = true;
        },
        resetGraphForm: function() {
            this.edit.graph.name = "";
            this.edit.graph.tracked = [];
            this.edit.graph.operation = "SUM";
        },
        closeAndResetGraphForm: function() {
            this.resetGraphForm();
            this.show.graphForm = false;
        },
        saveGraph: function() {
            const payload = {
                parent: this.trackingObject.id,
                name: this.edit.graph.name,
                tracked: this.edit.graph.tracked,
                operation: this.edit.graph.operation,
            };

            this.$ajax.request({
                url: window.ENDPOINTS.trackingGraphs,
                method: "POST",
                data: payload,
            })
            .then((xhr) => {
                this.closeAndResetForm();
                this.$store.commit("addTracking", {
                    name: "graphs",
                    data: xhr.json,
                });
            });
        },
        /**
         * Gets the Tracking Updates related to a Tracking Object
         * @param object {object}
         */
        _getTrackingUpdates: function(objectsId) {
            return this.context.db.tracking_updates
                .where("obj")
                .anyOf(objectsId)
                .toArray();
        },
    },
    computed: {
        /**
         *
         */
        trackingObjects: function() {
            return this.$store.state.tracking.objects;
        },
        trackedOptions: function() {
            if(!this.trackingObject) {
                return [];
            }
            return this.trackingObjects.filter((obj) => obj.id !== this.trackingObject.id);
        }
    }
}
</script>
