{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Trabibi</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'trabibi/scss/build/main.css' %}?version={{TRABIBI_FULL_VERSION}}"" />
</head>
<body>
<trabibi-app id="trabibi-root"></trabibi-app>
<script>
window.USER = JSON.parse("{{ user | escapejs }}");
window.ENDPOINTS = {};
window.ENDPOINTS.trackingObjects = "{% url 'trackingobjects-list' %}";
window.ENDPOINTS.trackingDetails = "{% url 'trackingdetails-list' %}";
window.ENDPOINTS.trackingUpdates = "{% url 'trackingupdates-list' %}";
window.ENDPOINTS.trackingGraphs = "{% url 'trackinggraphs-list' %}";
window.ENDPOINTS.users = {
    list: "{% url 'users-list' %}",
    login: "{% url 'users-login' %}",
    logout: "{% url 'users-logout' %}",
};
</script>
<script src="{% static 'trabibi/js/build/trabibi.js' %}?version={{TRABIBI_FULL_VERSION}}"></script>
{% include "django_request_cop/google_recaptcha_iframe.html" %}
</body>
</html>
