<template>
<div>
    <div class="vue-modal-overlay" :style="overlayStyle"></div>
    <div class="modal vue-modal" :style="modalStyle" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="title" class="modal-title">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="forceState(false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot name="modal-body"></slot>
                </div>
                <div class="modal-footer">
                    <slot name="modal-footer"></slot>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props: ["show", "title", "lock"],
    mounted: function() {
        if(this.show === undefined) {
            throw Error("Please define the prop sync 'show'.");
        }
    },
    methods: {
        forceState: function(state) {
            this.$emit("update:show", state);
        }
    },
    computed: {
        overlayStyle: function() {
            if(this.show) {
                return `
                    background-color: rgba(0, 0, 0, 0.6);
                    pointer-events: all;
                `;
            }
        },
        modalStyle: function() {
            if(this.show) {
                return `
                    opacity: 1;
                    transform: translate(-50%, -50%);
                    pointer-events: all;
                `;
            } else {
                return ``;
            }
        }
    }
}
</script>

<style>
.vue-modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.4s;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}
.vue-modal {
    display: block;
    top: 50%;
    left: 50%;
    height: 100%;
    opacity: 0;
    transform: translate(-50%, -200%);
    transition: all 0.4s;
    pointer-events: none;
}
</style>
