<template>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item" @click="setAction('register')">
            <a class="nav-link pointer" :class="action === 'register' ? 'active' : ''">Register</a>
        </li>
        <li class="nav-item" @click="setAction('login')">
            <a class="nav-link pointer" :class="action === 'login' ? 'active' : ''">Login</a>
        </li>
    </ul>
    <div class="w-25 ml-auto mr-auto mt-5">
        <div class="form-group">
            <label>Email</label>
            <input type="text" v-model="userForm.email" class="form-control form-control-sm" autocomplete="off" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" v-model="userForm.password" class="form-control form-control-sm" autocomplete="off" />
        </div>
        <div class="form-group text-right">
            <button v-if="action === 'register'" class="btn btn-sm btn-primary" @click="register">Register</button>
            <button v-else-if="action === 'login'" class="btn btn-sm btn-primary" @click="login">Login</button>
        </div>
    </div>
    <modal title="Please complete the Recaptcha" :show.sync="show.recaptcha">
        <template slot="modal-body">
            <div id="request-cop-recaptcha-auth"></div>
        </template>
    </modal>
</div>
</template>

<script>
import modal from "../bootstrap/modal.vue";
export default {
    components: { modal },
    data: function() {
        return {
            userForm: {
                email: "",
                password: "",
            },
            action: "register",
            show: {
                recaptcha: false,
            }
        }
    },
    mounted: function() {
        this.$store.commit("updateH1", "Join Trabibi");
    },
    methods: {
        resetForm: function() {
            this.userForm.email = "";
            this.userForm.password = "";
        },
        setAction: function(action) {
            this.resetForm();
            this.action = action;
        },
        _getPayload: function() {
            const payload = {
                email: this.userForm.email,
                password: this.userForm.password,
            };

            return payload;
        },
        _frontendLogin: function(userData) {
            this.resetForm();
            this.$store.commit("updateUser", userData);
            this.$store.commit("auth", true);
        },
        doRecaptcha: function() {
            this.show.recaptcha = true;
            return new Promise((resolve, reject) => {
                window.drcOpenIframe("request-cop-recaptcha-auth", (e) => {
                    this.show.recaptcha.false;
                    resolve(e.data.googleResponse);
                });
            });
        },
        register: function() {
            this.doRecaptcha()
            .then((googleResponse) => {
                const payload = this._getPayload();
                payload.google_response = googleResponse;
                
                this.$ajax.request({
                    url: window.ENDPOINTS.users.list,
                    method: "POST",
                    data: payload,
                })
                .then((xhr) => {
                    var response = xhr.json;
                    if(response.created) {
                        this._frontendLogin(response.user);
                    }
                });
            });
        },
        login: function() {
            this.doRecaptcha()
            .then((googleResponse) => {
                const payload = this._getPayload();
                payload.google_response = googleResponse;

                this.$ajax.request({
                    url: window.ENDPOINTS.users.login,
                    method: "POST",
                    data: payload,
                })
                .then((xhr) => {
                    var response = xhr.json;
                    if(response.login) {
                        this._frontendLogin(response.user);
                    }
                });
            });
        }
    }
}
</script>
