<template>
<div>
    <div>
        <button class="btn btn-sm btn-dark" @click="openTracking(null)">Add Tracking</button>
    </div>
    <div>
        <ul class="list-group list-group-flush mt-5">
            <li v-for="object in trackingObjects" :key="object.id" class="list-group-item list-group-item-action">
                <div class="row no-gutters">
                    <div class="col-6">
                        <router-link :to="'/tracking-objects/' + object.id">{{ object.name }}</router-link>
                    </div>
                    <div class="col-6 text-right">
                        <button class="btn btn-sm btn-danger" @click="deleteTracking(object)">Delete</button>
                        <button class="btn btn-sm btn-primary" @click="openTracking(object)">Edit</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <modal title="Create Tracking" :show.sync="show.trackingObject">
        <div slot="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input type="text" v-model="edit.trackingObject.name" class="form-control form-control-sm" />
            </div>
            <div class="form-group">
                <label>Parent</label>
                <select v-model="edit.trackingObject.parent" class="form-control form-control-sm">
                    <option value="0">No parent</option>
                    <option v-for="object in trackingObjects" :key="object.id" :value="object.id">{{ object.name }}</option>
                </select>
            </div>
        </div>
        <div slot="modal-footer">
            <button class="btn btn-sm btn-danger" @click="closeAndResetForm">Cancel</button>
            <button class="btn btn-sm btn-primary" @click="saveTracking">Save</button>
        </div>
    </modal>
</div>
</template>

<script>
import modal from "../bootstrap/modal.vue";
export default {
    components: { modal },
    data: function() {
        return {
            show: {
                trackingObject: false,
            },
            edit: {
                trackingObject: {
                    id: 0,
                    name: "",
                    parent: 0,
                },
            }
        }
    },
    mounted: function() {
        this.$store.commit("updateH1", "Your Trackings");
    },
    methods: {
        resetForm: function() {
            this.edit.trackingObject.id = 0;
            this.edit.trackingObject.name = "";
            this.edit.trackingObject.parent = 0;
        },
        closeAndResetForm: function() {
            this.resetForm();
            this.show.trackingObject = false;
        },
        openTracking: function(tracking) {
            if(!tracking) {
                tracking = { id: 0, name: '', parent: 0 };
            }
            this.edit.trackingObject.id = tracking.id;
            this.edit.trackingObject.name = tracking.name;
            this.edit.trackingObject.parent = tracking.parent;
            this.show.trackingObject = true;
        },
        createTracking: function(payload) {
            this.$ajax.request({
                url: window.ENDPOINTS.trackingObjects,
                method: "POST",
                data: payload
            })
            .then((res) => {
                this.$store.commit("addTracking", {
                    name: "objects",
                    object: res.json,
                });
            })
            .catch((error) => {
                console.error(error);
            });
        },
        updateTracking: function(payload) {
            this.$ajax.request({
                url: window.ENDPOINTS.trackingObjects + payload.id + "/",
                method: "PATCH",
                data: payload,
            })
            .then((res) => {
                this.$store.commit("editTracking", {
                    name: "objects",
                    object: res.json,
                });
            })
            .catch((error) => {
                console.error(error);
            });            
        },
        deleteTracking: function(object) {
            this.$ajax.request({
                url: window.ENDPOINTS.trackingObjects + object.id + "/",
                method: "DELETE",
            })
            .then((res) => {
                this.$store.commit("deleteTracking", {
                    name: "objects",
                    object: object,
                });
            })
            .catch((error) => {
                console.error(error);
            });            
        },
        saveTracking: function() {
            var payload = {
                name: this.edit.trackingObject.name,
                user: this.$store.state.user.id,
            };

            if(this.edit.trackingObject.parent) {
                payload.parent = this.edit.trackingObject.parent;
            }

            if(this.edit.trackingObject.id) {
                payload.id = this.edit.trackingObject.id;
                this.updateTracking(payload);
            } else {
                this.createTracking(payload);
            }
            this.closeAndResetForm();
        },
    },
    computed: {
        trackingObjects: function() {
            return this.$store.state.tracking.objects;
        }
    }
}
</script>
