$mainColor: #b1d1ec;
$darkBackground: #1f4a6f;

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: $mainColor;
}

#trabibi-root {
    height: 100%;
}

.pointer {
    cursor: pointer;
}
